### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

### Uploads ###
/lib/priv/static/uploads/*
# Behalte den uploads-Ordner, indem eine Dummy-Datei enthalten bleibt
!/lib/priv/static/uploads/.gitkeepfolder